
{% extends 'base.html' %}
{% block title %}{{ question }}{% endblock %}

{% block sidebar %}
{% endblock %}


{% block page %}

<div class="container">
{% if user.is_authenticated %}
        <div id="ask_container">
        <h1 for="ask_container" id="q_label">Ask new question</h1>
        <form action="{% url 'stack:ask_question' %}" method="post">
        {% csrf_token %}

            <input type="text" name="q_header" id="q_header" value="{% if q_header %}{{q_header}}{% endif %}"
                   placeholder="question"/>
            <textarea rows="25" cols="80"  name="q_content" id="q_content"
                      placeholder="details">{% if q_content %}{{q_content}}{% endif %}</textarea>
            <input type="text" name="q_tags" id="q_tags" value="{% if q_tag %}{{q_tags}}{% endif %}"
                   placeholder="tag's list (separated by space, semicolon or comma)"/>

            <input type="submit" value="Ask" id="q_button"/>
            <div class="q_error">{% if error %}{{error}}{% endif %}</div>
        </form>
        </div>
{% else %}
        <h1>Please, log in or register to be able to ask a question</h1>
{% endif %}
</div>

{% endblock %}
