
{% extends 'base.html' %}
{% load template_tags %}

{% block title %}{{ question }}{% endblock %}

{% block sidebar %}
{% endblock %}



{% block page %}


<div class="container">
            <strong> {{question.header}} </strong>
            <div class="question_container">
            <div class="stats_v_details">
                {% if user.is_authenticated %}
                {% is_voted question user as q_voted %}
                <div class="equalizer">
                <a href="#" onClick="document.getElementById('upvote_question').submit();">
                <div class="arrow-up{% if q_voted == 'up' %}_active{% endif %}">
                    <form action="{% url 'stack:vote' question.id %}" method="POST" id="upvote_question">
                        {% csrf_token %}
                        <input type="hidden" name="upvote" value="upvote"/>
                        </form>

                </div></a>
                {% endif %}
                <div>{{ question.votes }}</div>
                <div>Votes</div>
                {% if user.is_authenticated %}
                {% is_voted question user as q_voted %}
                <a href="#" onClick="document.getElementById('downvote').submit();">
                <div class="arrow-down{% if q_voted == 'down' %}_active{% endif %}">
                    <form action="{% url 'stack:vote' question.id %}" method="POST" id="downvote">
                        {% csrf_token %}
                        <input type="hidden" name="downvote" value="downvote"/>
                        </form>
                    </div></a>
                 </div>
                {% endif %}
            </div>
            <div class="question_separator">
                <div class="question">{{question.content | linebreaks}}</div>
                {% for tag in question.get_tags %}
                <a href="{% url 'stack:index' %}?tag={{ tag }}" class="tag" >{{ tag }}</a>
                 {% endfor %}
            <div class="u_signature"><img src="{{question.get_author_image}}"  class="author_avatar" alt=""/></div>
                <div class="u_signature">{{ question.get_author }}</div>
                </div>
            </div>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    </div>

<div class="container_block">
    <div class="answer_block_sub">
    <strong >Answer's list ({{ question.get_answers_count}} answers given):</strong>
    </div>

    {% for answer in answer_list %}
    <div  class="answer_block">
        <div class="stats_v_details_reply">
         {% if user.is_authenticated %}
         {% is_voted answer user as a_voted %}
         <a href="#" onClick="document.getElementById('upvote_answer{{answer.id}}').submit();">
             <div class="arrow-up{% if a_voted == 'up' %}_active{% endif %}">
                 <form action="{% url 'stack:vote' question.id answer.id %}" method="POST" id="upvote_answer{{answer.id}}">
                        {% csrf_token %}
                        <input type="hidden" name="upvote" value="upvote"/>
                        </form>
             </div></a>
          {% endif %}
            <div>{{ answer.votes }}</div>
            <div>Votes</div>
            {% if user.is_authenticated %}
            <a href="#" onClick="document.getElementById('downvote_answer{{answer.id}}').submit();">
             <div class="arrow-down{% if a_voted == 'down' %}_active{% endif %}">
                 <form action="{% url 'stack:vote' question.id answer.id %}" method="POST" id="downvote_answer{{answer.id}}">
                        {% csrf_token %}
                        <input type="hidden" name="downvote" value="downvote"/>
                        </form>
             </div></a>
            <a href="#" onClick="document.getElementById('mark_answer{{answer.id}}').submit();">


                {% is_there_correct answer as mark %}
                {% with this_answer_accepted=answer.correctness %}
                    {% if question_resolved and this_answer_accepted or not question_resolved %}
                            {% get_author question as question_author %}
                            {% if user.username == question_author or this_answer_accepted %}

                <div class="checkmark">
                    <div class="checkmark_kick{% if mark == True %}_active{% endif %}"></div>
                    <div class="checkmark_stem{% if mark == True %}_active{% endif %}"></div>
                                {% if user.username == question_author %}
                    <form action="{% url 'stack:mark_answer' question.id answer.id %}" method="POST" id="mark_answer{{answer.id}}">
                        {% csrf_token %}
                        <input type="hidden" name="downvote" value="downvote"/>
                    </form>
                                {% endif %}
                </div></a>
                        {% endif %}
                    {% endif %}
                {% endwith %}

            {% endif %}
        </div>
        {{answer | linebreaks}}
         <div class="u_signature"><img src="{{answer.get_author_image}}"  class="author_avatar" alt=""/></div>
            <div class="u_signature">{{ answer.get_author }}</div>
         </div>
        {% endfor %}
    <div class="indent"></div>
    <div class="container">
        {% if answer_list.paginator.num_pages > 1 %}
    <div class="page_container">
        <div class="page_container_rel">
    <div class="pagination">
        <a href="{% url 'stack:detail' question.id %}?page_number=1">&laquo;</a>
      {% for pn in page_range %}
        {% if pn != answer_list.number %}
            <a href="{% url 'stack:detail' question.id %}?page_number={{pn}}">{{pn}}</a>
        {% else %}
            <a href="{% url 'stack:detail' question.id %}?page_number={{pn}}" class="active">{{pn}}</a>
        {% endif %}
      {% endfor %}
        <a href="{% url 'stack:detail' question.id %}?page_number={{answer_list.paginator.num_pages}}">&raquo;</a>
            </div>
        </div>
    </div>
        {% endif %}


    {% if user.is_authenticated and not mark %}
        <div id="answer_container">
            <form action="{% url 'stack:give_answer' question.id %}" method="post">
                {% csrf_token %}
            <textarea rows="15" cols="80"  name="answer" id="answer" placeholder="answer..."></textarea>
                <input type="submit" value="Send" id="a_button"/>
            </form>
        </div>
     </div>
</div>
    {% endif %}
{% endblock %}