
{% extends 'base.html' %}
{% block title %}{{ question }}{% endblock %}

{% block sidebar %}
{% endblock %}


{% block page %}
<div class="container">

        {% if question_list %}
    <h1>Questions</h1>
        <ul class="q_list">
            {% for question in question_list %}
            <li class="question_container">
            <div class="stats_v"><div>{{ question.votes }}</div>
                                        <div>Votes</div></div>
            <div class="stats_a"><div>{{ question.get_answers_count}}</div>
                                        <div>Answers</div></div>
                <div class="question_separator">
                    <div>
                    <a href="{% url 'stack:detail' question.id %}" class="question-ref">{{ question.header }}</a>
                        </div>
                    {% for tag in question.get_tags %}
                       <a href="{% url 'stack:index' %}?tag={{ tag }}" class="tag" >{{ tag }}</a>
                    {% endfor %}
                    <div class="u_signature"><img src="{{question.get_author_image}}"  class="author_avatar" alt=""/></div>
                    <div class="u_signature">{{ question.get_author }}</div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No questions are available.</p>
        {% endif %}

    {% if question_list.paginator.num_pages > 1 %}
    <div class="page_container">
        <div class="page_container_rel">
        <div class="pagination">
            <a href="{% url 'stack:index' %}?page_number=1">&laquo;</a>
        {% for pn in page_range %}
            {% if pn != question_list.number %}
                <a href="{% url 'stack:index' %}?page_number={{pn}}">{{pn}}</a>
            {% else %}
                <a href="{% url 'stack:index' %}?page_number={{pn}}" class="active">{{pn}}</a>
            {% endif %}
        {% endfor %}
            <a href="{% url 'stack:index' %}?page_number={{question_list.paginator.num_pages}}">&raquo;</a>
        </div>
    </div>
</div>
</div>
{% endif %}

{% endblock %}


