{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% load  staticfiles %}

{% block head %}
{% endblock %}

{% block page %}
  <div class="container">
  <h1>Profile</h1>


      {% if user.is_authenticated %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

      {% if user.image %}
         <img src="{{user.image.url}}" class="profile_avatar" alt=""/>
      {% endif %}

   <table class="profile">

      <tr>
        <td>
            {{ form.username.errors }}
    <label for="{{ form.username.id_for_label }}">Username:</label>
        </td>
        <td>
                {{ form.username}}
        </td>
      </tr>
      <tr>
        <td>
                {{ form.email.errors }}
        <label for="{{ form.email.id_for_label }}">Email:</label>
        </td>
        <td>
                {{ form.email }}
        </td>
      </tr>
        <tr>
        <td>
                {{ form.image.errors }}
        <label for="{{ form.image.id_for_label }}" class="label_upload">Change image</label>
        </td>
        <td style="display: none">
                {{ form.image }}
        </td>
            <td>
                {% if messages %}
                    {% for message in messages %}
                <div>Uploaded file: {{ message }}</div>
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
       <tr></tr>
        <tr>
            <td>
                <a class="button" href="{% url 'password_reset' %}">Reset password</a>
            </td>
        <td>
      <button type="submit">Update</button>
          </td>
       </tr>

  </table>
  </form>
  </div>

  {% endif %}
{% endblock %}