<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block head %}
{% endblock %}

{% block page %}
  <div class="container">
  <h1>Sign up</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <table class="profile">
      <tr>
       <td>
              {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}" >Username:</label>
      </td>
        <td>
              {{ form.username }}
        </td>
          </tr>
          <tr>
        <td>
              {{ form.password1.errors }}
            <label for="{{ form.password1.id_for_label }}">Your password:</label>
        </td>
          <td>
              {{ form.password1 }}
          </td>
      </tr>
        <tr>
          <td>
              {{ form.password2.errors }}
            <label for="{{ form.password2.id_for_label }}">Repeat password:</label>
          </td>
          <td>
              {{ form.password2 }}
          </td>
        </tr>
          <tr>
          <td>
            {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}">Email:</label>
          </td>
        <td>
            {{ form.email }}
        </td>
          </tr>
        <tr>
          <td>
            {{ form.image.errors }}
            <label for="{{ form.image.id_for_label }}">Image</label>
          </td>
          <td>
             {{ form.image }}
          </td>
        </tr>
            <tr>
          <td>
            <button type="submit">Sign up</button>
          </td>
            </tr>
  </table>

  </form>
  </div>
{% endblock %}