html
{
    overflow-x: hidden;
}

label
{
    font-style: Sans-serif;
    color: #2D1414;
}

title
{
    font-style: Sans-serif;
}

h2 h1 p
{
    font-style: Sans-serif;
    color: #2D1414;
}

a
{
    color: #2D1414;
    text-decoration: none;
    cursor: pointer;
}

ul
{
}

.q_list
{
    list-style: none;
    display: inline-grid;
    vertical-align: bottom;
    min-width: 90%;
}

.tag
{
    float: left;
    text-align: center;
    position:relative;
    margin: 3%;
    padding: 0%;
}

.question, .question-ref
{


}

.answer_block
{
    padding-top: 40px;
    padding-bottom: 40px;
    word-wrap: break-word;
    position: relative;
}

.answer_block_sub
{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0;
}


.question-ref:hover, a.tag:hover
{
    color: #f1f1f1;
}

.question_separator
{
    padding-bottom: 5.8em;
    border-bottom: 1px solid #a2c0f2;
    position: relative;
    padding-top: 20px;
    display: block;
    line-height: 2.0;
    font-size: 14px;
}

.question_container
{
    position:relative;
    margin:0;
    padding:0;
    float: left;
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    vertical-align: bottom;
}

.stats_a
{
    position: absolute;
    right: 55%;
    top: 50%;
    font-size: 11px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.stats_v
{
    position: absolute;
    right: 55%;
    top: 10%;
    font-size: 11px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.stats_v_details
{
    position: absolute;
    right: 100%;
    top: 30%;
    padding-right: 30px;
    font-size: 11px;
    text-align: center;
}

.stats_v_details_reply
{
    position: absolute;
    top: 40%;
    right: 100%;
    padding-right: 30px;
    font-size: 11px;
    text-align: center;
}

.u_signature
{
   text-align: right;
   width: 7%;
   float: right;
   margin: 0;
   padding-right: 0;
   position: relative;
   padding-top: 3%;
}


.author_avatar
{
    float: right;
    background: url(http://placehold.it/50x50);
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
    width:30px;
    height:30px;
}

header
{
    width: 100%;
    height: 53px;
    top: 0;
    right: 0;
    background-color: #F2F2F2;
    margin-bottom: 10px;
    position: absolute;
    padding:0;
    z-index: 2;
}

.logo
{
    float: left;
    margin-left: 30px;
    opacity: 1;
}

.logo:hover
{
    background: #CDCCCC;
}

.avatar
{
    background: url(http://placehold.it/50x50);
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:46px;
    height:46px;
    margin-top: 2px;
}

.avatar_profile
{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto
    position: relative;
}

.hdr_element
{
    font-style: Sans-serif;
    float: right;
    text-align: center;
    position: relative;
    display: inline;
    padding: 0px 50px;
    margin-top: 17px;
}

ul.hdr
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F2F2F2;
}

li.hdr
{
    float: right;
    list-style: none;

}

li.hdr a.hdr
{
    display: block;
    color: black
    text-align: center;
    padding: 17px 76px;
    text-decoration: none;
}

li.hdr a:hover
{
    background-color: #CDCCCC;
}

.container
{
    max-width: 70%;
    padding-left: 7%;
    padding-top: 7%;
    margin-left: 1%;
    word-wrap: break-word;
}

nav
{
    text-decoration: none;
    line-height: 38px;
}

form.search input[type=search]
{
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 30%;
    background: #f1f1f1;
    margin-top: 7px;
    margin-left: 3%;
    border-radius: 3px 0px 0px 3px;
}

form.search button
{
    float: left;
    width: 5%;
    padding: 5px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-top: 7px;
    border-radius: 0px 3px 3px 0px;
}

form.search button:hover
{
    background: #0b7dda;
}

.profile
{
    float: left;
    width: 100%;
    display: block;
    font-style: Sans-serif;
    color: #2D1414;
    position: relative;
    top: 70%;
}

.profile_input
{
    font-style: italic;
    font-size: 17px;
    border-radius: 3px 0px 0px 3px;
}

.profile_avatar
{
    position: relative;
    height: auto;
    width: auto;
    max-width: 5000px;
    max-height: 540px;

}

button, .button
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}

.button:hover, button:hover, .label_upload:hover, #q_button:hover, #a_button:hover
{
    color: black;
}


.label_upload
{
    background-color: #4CAF50; /* Green */
    border-radius: 5px;
    color: white;
    padding: 4px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
}

.hyperspan_button
{
    background-color: #4CAF50;
    opacity: .3;
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:1;
}

/* The sidebar menu */
.sidenav
{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black */
    padding-top: 100px;
}

/* The navigation menu links */
.sidenav a, h2
{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
}

.sidenav a.active
{
    color: #f1f1f1;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover
{
    color: #f1f1f1;
}


#q_header, #q_content, #q_tags, #answer
{
    float: left;
    width: 80%;
    padding: 5px;
    background: #FAF9F9;
    color: #010000;
    font-size: 17px;
    margin-top: 7px;
    margin-left: 4%;
    border-radius: 3px 3px 3px 3px;
    position: relative;
}

#q_label
{
    font-style: Sans-serif;
    text-align: center;
    margin-right: 15%;

}

#q_button
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;

    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-right: 4%
}

.q_error
{
    color: red;
    width: 500px;
    height: 0;
    text-align: center;
}

#a_button
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    display: inline-block;
    bottom: 0;
    right: 53%;
}

#ask_container
{
    position:relative;
    height: 750px;
}

#answer_container
{
    position:absolute;
    height: 400px;
    width: 70%;
    left: 6%;
    padding-top: 6%;
}

.container_block
{
    max-width: 70%;
    padding-left: 7%;
    margin-left: 1%;
    display: inline-block;
    word-wrap: break-word;
    min-width: 70%;
}

#answer
{

}

.pagination
{
    display: inline-block;
}

.pagination a
{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active
{
    background-color: #4CAF50;
    color: white;
}

.pagination a.active:hover
{
    color: black;
}

.pagination a:hover:not(.active)
{
    background-color: #ddd;
}

.page_container
{
    left: 35%;
    position: absolute;
    text-align: center;

}

.page_container_rel
{
    left: -35%;
    position: relative;
    text-align: center;
}

.indent
{
    padding-top: 80px;
}

.arrow-up
{
    width: 0;
    height: 0;
    bottom: 10px;
    margin:auto;

    position: relative;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 21px solid #F2F2F2;
}

.arrow-down
{
    width: 0;
    height: 0;
    top: 10px;
    margin:auto;

    position: relative;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 21px solid #F2F2F2;
}

.arrow-up:hover
{
    border-bottom: 21px solid #4CAF50;
}

.arrow-down:hover
{
    border-top: 21px solid red;
}

.arrow-up_active
{
    width: 0;
    height: 0;
    bottom: 10px;
    margin:auto;

    position: relative;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 21px solid #4CAF50;
}

.arrow-down_active
{
  width: 0;
  height: 0;
  top: 10px;
  margin:auto;

  position: relative;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 21px solid red;
}

.equalizer
{
    text-align: center;
}

.checkmark
{
    display:inline-block;
    width: 10px;
    height: 20px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_stem
{
    position: absolute;
    width:3px;
    height:26px;
    background-color:#F2F2F2;
    left:11px;
    top:0;
}

.checkmark_kick
{
    position: absolute;
    width:11px;
    height:3px;
    background-color:#F2F2F2;
    left:3px;
    top:23px;
}

.checkmark:hover .checkmark_stem
{
    background-color:#4CAF50;
}

.checkmark:hover .checkmark_kick
{
    background-color:#4CAF50;
}

.checkmark_stem_active
{
    position: absolute;
    width:3px;
    height:26px;
    background-color:#4CAF50;
    left:11px;
    top:0;
}

.checkmark_kick_active
{
    position: absolute;
    width:11px;
    height:3px;
    background-color:#4CAF50;
    left:3px;
    top:23px;
}